*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit; /* Inherit font from body */
  font-size: inherit; /* Inherit font size */
  border: none; /* Or style to your preference */
  outline: none;
}

button {
  cursor: pointer; /* Makes sure buttons have a pointer cursor */
}
